*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    height: 100vh;
    width: 100%;
}

html {
    font-size: 62.5%;
}


/* Media query */

@media (max-width: 1000px) {
    #div-wallpaper {
        display: none;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 50%;
    }
}


#login {
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    height: 100vh;
}

#titulo-inicio {
    border: 2px solid black;
    padding:2rem 3rem;
    margin-bottom: 10%;
    font-size: 2.8rem;
}

#titulo {
    color: black;
    font-size: 2.6rem;
    margin-bottom: 1%;
}

#form-login {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-mensagem {
    color: #e74c3c;
    visibility: hidden;
}

.p-mensagem.erro-login {
    visibility: visible;
}

.input-login {
    display: flex;
    width: 80%;
    flex-direction: column;
}

.input-login label {
    margin-bottom: 10px;
    font-weight: 500;
}

.input-login input {
    font-weight: 500;
    padding: 12px;
    background-color: #dadce3;
    border-radius: 8px;
    border: none;
    margin-bottom: 10px;
}

#input-login {
    position: relative;
}

#mostrarsenha-login {
    position: absolute;
    right: 4%;
    top: 55%;
    transition: 0.6s;
    cursor: pointer;
    font-size: 1.4rem;
}

#mostrarsenha-login:hover {
    color: #00D7FF;
    transform: scale(1.08);
}


.label-login {
    width: 80%;
    font-weight: 500;
    color: black;
    font-size: 1.4rem;
}

#button-image {
    width: 80%;
    display: flex;
    gap: 12px;
    margin-top: 15px;
}

#button-image img {
    width: 20px;
}

.button {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: 0.6s;
}

.button:hover {
    transform: scale(1.08);
}

.face {
    background-color: #3b5998;
}

.google {
    background-color: #dadce3;
}

#div-manter {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin-top: 3%;
}

#div-manter label {
    margin-left: 10px;
    font-size: 1.4rem;
}

/* Para nos estilizar o nosso campo do checkbox nos primeiros devemos tirar todas as estilizacoes padroes dele */

#div-manter input {
    font-weight: 600;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #dadce3;
    border-radius: 4px;
    border: none;
}

#div-manter input:checked {
    background-color: #00D7FF;
}

#div-manter input:checked::after {
    content: "";
    display: block;
    width: 5px;
    height: 10px; 
    border: 3px solid black;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    margin: 2px 6px;
}

#button {
    width: 180px;
    padding: 15px;
    border-radius: 10px;
    background-color: #dadce3;
    border: none;
    margin-top: 20%;
    /* margin-bottom: 75%; */
    cursor: pointer;
    transition: 0.6s;
}

#button p {
    font-size: 1.4rem;
    font-weight: 500;
}

#button:hover {
    transform: scale(1.08);
    background-color: #00D7FF;
    border: none;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

#footer a:hover {
    color: #00D7FF;
}

#footer p {
    font-size: 1.4rem;
}

#footer a {
    font-weight: 600;
    cursor: pointer;
    transition: 0.6s;
    font-size: 1.4rem;
}


#wallpaper {
    background: linear-gradient(45deg, #72FFFF, #00D7FF, #0096FF, #5800FF);
    width: 100%;
    flex: 1;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 100%;
    animation: cores 15s ease infinite;
    flex-direction: column;
}

.paragrafo {
    font-weight: 700;
    font-size: 3.2rem;
    color: white;
    margin-bottom: 1%;
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
}

#messagemark {
    font-weight: 700;
    font-size: 5rem;
    border: 3px solid white;
    padding: 1rem 2rem;
    color: white;
    margin-bottom: 1%;
}

@keyframes cores{
    0% {
        background-position: 0% 50%;
    }
    
    50% {
        background-position: 100% 50%;
    }
    
    100% {
        background-position: 0% 50%;
    }
}




/* Modal - Criar conta */






#titulo-criarconta {
    font-size: 3.2rem;
    border: 2px solid black;
    padding: 10px 2rem;
    margin-bottom: 15px;
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
  }

#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-width: 90%;
    background-color: #fff;
    border-radius: 0.5rem;
    z-index: 10;
    overflow: hidden;
    border: 3px solid #dadce3;
}

#header {
    display: flex;
    flex-direction: column;
    background-color: #dadce3;
    justify-content: center;
    align-items: center;
}

#header i:hover {
    color: #00D7FF;
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.4s;
}

#header i {
    margin-left: 90%;
    margin-top: 2%;
    font-size: 1.4rem;
}
 
#header h2{
    margin-bottom: 2%;
    font-size: 1.6rem;
}

 #form {
    padding: 20px;
}

.label-criarconta {
    display: inline-block;
    font-size:1.4rem;
    margin-bottom: 10px;
    font-weight: 500;
}

.input-criarconta {
    display: block;
    width: 100%;
    margin-bottom: 38px;
    border-radius: 8px;
    padding: 12px;
    border: 2px solid #dadce3;
    background-color: #dadce3;
    font-weight: 500;
}

#botao-submit:hover, #botao-reset:hover {
    transform: scale(1.08);
    background-color: #00D7FF;
}

#botao-submit {
    padding: 12px;
    background-color: #dadce3;
    border-radius: 8px;
    border: none;
    margin-right: 15px;
    cursor: pointer;
    transition: 0.6s;
    font-size: 1.4rem;
    font-weight: 500;
}

#botao-reset {
    padding: 12px;
    background-color: #dadce3;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    border: none;
    transition: 0.6s;
    font-size: 1.4rem;
    font-weight: 500;
}

#fade,
#modal {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}

#modal.hide {
    top: 0;
  }

#modal.hide,
#fade.hide {
  opacity: 0;
  pointer-events: none;
} 

.controle-form {
    position: relative;
}

.mensagem-erro {
    position: absolute;
    left: 0;
    top: 99%;
    visibility: hidden;
    font-size: 1.4rem;
}


.icone{
    position: absolute;
    right: 3%;
    top: 61%;
    visibility: hidden;
    font-size: 1.4rem;
}

.icone-senha {
    position: absolute;
    right: 3%;
    top: 61%;
    cursor: pointer;
    transition: 0.6s;
    font-size: 1.4rem;
}

.icone-senha:hover {
    color: #00D7FF;
    transform: scale(1.08);
}

.controle-form.erro input {
    border-color: #e74c3c;
}

.controle-form.sucesso input {
    border-color: #2ecc71;
}

.controle-form.erro i.fa-circle-exclamation {
    color: #e74c3c;
    visibility: visible;
}

.controle-form.sucesso i.fa-circle-check {
    color: #2ecc71;
    visibility: visible;
}

.controle-form.erro p {
    visibility: visible;
    color: #e74c3c;
}

.controle-form.erro i.fa-eye {
    margin-right: 30px;
}

.controle-form.sucesso i.fa-eye {
    margin-right: 30px;
}




/* Modal - Esqueceu a senha */




#fade2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#modal2 {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-width: 90%;
    background-color: #fff;
    border-radius: 0.5rem;
    z-index: 10;
    overflow: hidden;
    border: 3px solid #dadce3;
}

#header2 {
    display: flex;
    flex-direction: column;
    background-color: #dadce3;
    justify-content: center;
    align-items: center;
    background-color: #dadce3;
}

#header2 h1 {
    font-size: 3.2rem;
    border: 2px solid black;
    margin-top: 5%;
    margin-bottom: 3%;
    padding: 1rem 2rem;
}

#header2 p {
    font-size: 2.2rem;
    margin-bottom: 3%;
    font-weight: 600;
}

#header2 i {
    margin-left: 90%;
    margin-top: 2%;
    font-size: 1.4rem;
}

#header2 i:hover {
    color: #00D7FF;
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.4s;
}

#form2 {
    padding: 20px;
}

#label-trocarsenha {
    display: inline-block;
    font-size: 1.4rem;
    margin-bottom: 10px;
    font-weight: 500;
}

#input-trocarsenha {
    display: block;
    width: 100%;
    margin-bottom: 38px;
    border-radius: 8px;
    padding: 12px;
    border: 2px solid #dadce3;
    background-color: #dadce3;
    font-weight: 500;
}

.form-control {
    position: relative;
}

.form-control p {
    position: absolute;
    top: 99%;
    font-size: 1.4rem;
}

.mensagem-troca {
    visibility: hidden;
}

.mensagem-troca.erro-troca {
    color: #e74c3c;
    visibility: visible;
}

#botao-trocarsubmit:hover, #botao-trocarreset:hover {
    transform: scale(1.08);
    background-color: #00D7FF;
}

#botao-trocarsubmit {
    padding: 12px;
    background-color: #dadce3;
    border-radius: 8px;
    border: none;
    margin-right: 15px;
    cursor: pointer;
    transition: 0.6s;
    font-size: 1.4rem;
    font-weight: 500;
}

#botao-trocarreset {
    padding: 12px;
    background-color: #dadce3;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    border: none;
    transition: 0.6s;
    font-size: 1.4rem;
    font-weight: 500;
}

#fade2, #modal2 {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}

#modal2.hide {
    top: 0;
}

#modal2.hide, #fade2.hide {
    opacity: 0;
    pointer-events: none;
}