*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

#header {
    width: 100%;
    background: linear-gradient(45deg, #72FFFF, #00D7FF, #0096FF, #5800FF);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-size: 300% 100%;
    animation: cores 15s ease infinite;
}

@keyframes cores{
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#header h1 {
    margin-left: 3%;
    padding: 1rem 2rem;
    border: 2px solid;
}

#header p {
    padding: 1rem 2rem;
    margin-right: 3%;
    border-radius: 8px;
    border: 2px solid black;
    cursor: pointer;
    transition: 0.6s;
    font-weight: 600;
}

#header p:hover {
    transform: scale(1.08);
}

#form input {
    padding: 20px;
    border-radius: 8px;
    background-color: #dadce3;
    border: none;
    font-weight: 500;
}

#form button {
    padding: 20px;
    border-radius: 8px;
    border: none;
    background-color: #dadce3;
    transition: 0.6s;
    cursor: pointer;
    font-weight: 500;
}

#form button:hover {
    background-color: #00D7FF;
    transform: scale(1.08);
}

#header-principal {
    display: flex;
    
}

#header-principal i {
    margin-top: 3.8%;
    font-size: 24px;
    margin-left: 1%;
}

#titulo-principal {
    margin-top: 3%;
    margin-left: 3%;
    font-size: 32px;
    margin-bottom: 1%;
}

#input-descricao {
    margin-left: 3%;
    margin-right:1%;
    width: 25%;
}

#input-detalhamento {
    width: 50%;
    margin-right: 1%;
}

#div-table {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    /* width: 80%; */
}

#botao-salvar {
    margin-right: 0.5%;
    font-weight: 600;
}

#botao-limpar {
    font-weight: 600;
}

#table {
    background-color: #dadce3;
    width: 90%;
    border-radius: 8px;
    border: none;
    margin-bottom: 30px;
}

#table th {
    padding: 20px;
}

#table, th, td {
    border-collapse: collapse;
}

thead {
    border-bottom: 2px solid black;
}

#tbody {
    text-align: center;
}

#tbody tr td {
    padding: 15px;
    /* border: 2px solid; */
}

#tbody tr td button {
    padding: 1rem 2rem;
    border-radius: 8px;
    border: none;
    font-weight: 600;
}

#botao-editar {
    background-color: #2ecc71;
    margin-right: 2%;
    cursor: pointer;
    transition: 0.6s;
}

#botao-editar:hover {
    transform: scale(1.08);
}

#botao-excluir {
    background-color: #e74c3c;
    cursor: pointer;
    transition: 0.6s;
}

#botao-excluir:hover {
    transform: scale(1.08);
}

#div-mensagem {
    display: flex;
    margin-left: 3%;
    visibility: hidden
}

#div-mensagem p {
    color: #e74c3c;
}

#div-mensagem.erro {
    visibility: visible;
}









